

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


@font-face {
  font-family: 'flexo';
  src:  url('fonts/Flexo.ttf') format('truetype'),
        url('fonts/Flexo_bold.ttf') format('truetype');
}

@font-face {
font-family: 'opensans';
  src:  url('fonts/Opensans_regular.ttf') format('truetype'),
        url('fonts/Opensans_bold.ttf') format('truetype'),
        url('fonts/Opensans_italic.ttf') format('truetype'),
        url('fonts/Opensans_light.ttf') format('truetype');
}

.container{
    width: 1600px;
    height: 100%;
    background-color: #ffffff;
}

.titlebar{
    padding: 20px 75px 10px 75px;
    font-family: flexo;
    font-weight: bold;
    color: #666;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.project-title{
    font-size: 30px;
    padding-top: 10px;
}

.left{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 25px;
}

.flex-container {
    padding: 0;
    margin: 0;
    height: 800px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.block {
    background: #efefef;
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0.3px 0.3px 0.3px 0.3px lightgray;
}

.filler {
    background: #fff;
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    background-color: #ffcd00;
    font-family: flexo;
    font-weight: bold;
}

.content{
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    font-family: opensans;
}

.content li{
    margin-left: 35px;
    margin-bottom: 10px;
    position: relative;
}

.content li:before {
    position: absolute;
    display: block;
    content: '\2022';
    text-indent: -999999px;
    left: -56px;
    bottom: -30px;
    width: 70px;
    height: 70px;
    background-size: 3em 3em;
    background-repeat: no-repeat;
}

.pos:before{
    background-image: url(images/positive.svg);
}

.neg:before{
    background-image: url(images/negative.svg);
}

.title{
    align-self: center;
    color: white;
}

.grade{
    background-color: white;
    padding: 9px;
    border-radius: 50%;
    width: 30px;
    text-align: center;
    color: #ffcd00;
}

#conclusion{
    background-color: #666;
}

#conclusion .grade{
    color: #666;
}

#lessons li{
    list-style-type: circle;
}

.footer{
    padding: 0px 75px 20px 75px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10%;
}

.footer p{
    font-family: opensans;
}
